{% extends "base.html" %}
{% block body %}
<div class="row-fluid">
	<div class="row-fluid">
		<div class="alert alert-info" style="display:{{localUser.displayAlt}}">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<h4 class="alert-heading">New to speculess?</h4>
				<p>Create an account (<a href="/authenticate">click here</a>) and contribute to the community. Tell us which lenses you have, which ones you want, what you use each for, and your overall impression!</p>
		</div>
	</div>
	<div class="row-fluid">
		<ul class="nav nav-pills pull-right">
			<li class="{{activePill.rated}}">
				<a href="/?filterMethod={{filterMethod}}">Most Popular</a>
			</li>
			<li class="{{activePill.age}}">
				<a href="/?sortMethod=age&filterMethod={{filterMethod}}">Newest</a>
			</li>
			<li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			        Show only...
		        	<b class="caret"></b>
		      	</a>
			    <ul class="dropdown-menu" style="font-size:10pt">					
					<li class="nav-header">Aperture</li>
					<li>
						<a href="/?filterMethod=f2.0">f/2.0 or faster</a>
					</li>
					<li>
						<a href="/?filterMethod=f2.8">f/2.8 or faster</a>
					</li>
					<li class="divider"></li>
					<li class="nav-header">Lens Type</li>
					<li>
						<a href="/?filterMethod=prime">Prime</a>
					</li>
					<li>
						<a href="/?filterMethod=macro">Macro</a>
					</li>
					<li>
						<a href="/?filterMethod=zoom">Standard Zoom</a>
					</li>
					<li>
						<a href="/?filterMethod=tele">Telephoto Zoom</a>
					</li>
					<li>
						<a href="/?filterMethod=wide">Wide Angle</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/">Show all</a>
					</li>				
			    </ul>
		  	</li>
		</ul>
	</div>
	<ul class="thumbnails">
		{% for lens in lenses %}
		<li class="frontNail span3">
			<a class="thumbnail" href="/lens/{{lens.id}}">				
			<div class="frontNailDiv">	
				<div style="height:120px; overflow:hidden; text-align:center">			
					<img src={{lens.img}} alt="">	
				</div>				
				<div class="frontNailCard">
					<div class="progress" style="height:7px; margin-top:-2px">
						<div class="bar bar-success" style="width: {{lens.stats.havePercent}}%;"></div>
						<div class="bar" style = "width:{{lens.stats.wantPercent}}%;"></div>
						<div class="bar bar-danger" style = "width:{{lens.stats.dontPercent}}%;"></div>			
					</div>
					<p class="frontNailCardHead">
						{{lens.man.upper()}}
					</p>
					<p class="frontNailCardInfo">
						{{lens.name}}
					</p>								
				</div>	
			</div>
			</a>				
		</li>
		{% endfor %}
	</ul>
</div>	

{% endblock %}
