{% extends "base.html" %}
{% block body %}
	<div class="row-fluid">
		<div class="span6 offset3 thumbnail" style="padding:20px">
			<div class="span12">
				<h4>Existing Users</h4>
				<p>If you've previously signed up, you just need to sign back in</p>
				<hr>
				<h4>New Users</h4>
				<p>Create an account by clicking on the link below. Speculess uses your Google account to register users and does not acccess any of your personal information. </p>
				<div style="text-align:center">
					<a class="btn btn-primary" href="{{ loginUrl }}">Sign in with Google</a>
				</div>
			</div>
			
		</div>		
	</div>	

{% endblock %}
