<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A social approach to the micro four thirds photography platform">
    	<meta name="author" content="">
		<link href = "/stylesheets/bootstrap.css" rel="stylesheet">
		<link href = "/stylesheets/docs.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre' rel='stylesheet' type='text/css'>
		<link href = "/stylesheets/bootstrap-responsive.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/javascript/bootstrap.js"></script>
		<!-- Google Analytics Code -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36172033-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<!-- end Google Analytics -->
		<title>speculess</title>
	</head>
	<body>
	<!-- Facebook script -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	
	<!-- end facebook -->	
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/" >specu<span>less</span></a>					
					<div class="btn-group pull-right" style="display:{{ localUser.displayUser}};">
						<a class="btn btn-small btn-success" href="/profile" style="font-size:10pt">
							{{localUser.nickname}}							
						</a>
						<a class ="btn btn-small  btn-inverse" href="{{localUser.logoutUrl |safe }}">Sign Out</a>		
					</div>
					<a class="btn btn-success pull-right" href = "/authenticate" style="display:{{localUser.displayAlt}}">
						sign up - sign In
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="{{homeActive}}"><a href="/">Home</a></li>
							<li class="{{aboutActive}}"><a href="/about">About</a></li>
							<li class="{{profileActive}}" style="display:{{localUser.displayUser}}"><a href="/profile">Profile</a></li>
						</ul>						
					</div><!--/.nav-collapse -->
				</div>
			</div>
	    </div>	    
		<div class="container">	
			<div class="row-fluid">
				<div class="alert alert-error" style="display:{{alert.errorDisplay}}">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<h4 class="alert-heading">Oh snap!</h4>
						{{alert.errorMsg}}
				</div>
			</div>
			<div class="row-fluid">
				<div class="alert alert-success" style="display:{{alert.successDisplay}}">
					<a class="close" data-dismiss="alert" href="#">&times;</a>
					<h4 class="alert-heading">Great!</h4>
						{{alert.successMsg}}
				</div>
			</div>
			{% block body %}{% endblock %}	
		</div>
		

		<footer class="footer">
			<div class="container">
				<div class="row-fluid">
					<div class="span8">
						<p class="muted">
							Experimental version of speculess, best on a <a href="http://www.whatbrowser.org" target="_blank">modern browser</a>							
						</p>
						<a href="#myModal1" role="button" data-toggle="modal">Feedback</a>
					</div>
					<div class="pull-right span4" style="padding:0">
						
						<a href="https://twitter.com/share" class="twitter-share-button span4" data-url="http://www.speculess.com" data-text="A social approach to the micro four thirds photography platform" style="margin-left:20px">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
						</script>
						<!-- Place this tag where you want the +1 button to render. -->
						<div class="g-plusone span4" data-href = "http://www.speculess.com" data-size="medium" style="margin-right:20px"></div>
						<div class="fb-like span4" data-href="http://www.speculess.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" ></div>
					</div>
				</div>

				<!-- Place this tag after the last +1 button tag. -->
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				<!-- Button to trigger modal -->
				

				<!-- Modal -->
				<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel1">Feedback</h3>
					</div>
				
					<div class="modal-body">
						
							<p>Noticed something wrong with the site? Have suggestions for new features? Do you really like something about this site? Help us out with your feedback!</p>

							<br>
							Email your feedback to <a href="mailto:feedback@speculess.com" target="_blank">feedback@speculess.com</a>
						
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>				
                        <button class="btn btn-primary" name="userFeedback" type="submit">Submit Feedback</button>
					</div>
				
				</div>
			</div>
		</footer>

	<script type="text/javascript">
		$(document).ready(function () {
			$("[rel=tooltip]").tooltip();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("[rel=popover]").popover();
		});
	</script>	

	<!-- Viglink script -->
	<script type="text/javascript">
	  var vglnk = { api_url: '//api.viglink.com/api',
	                key: '890b79fb7dfb0a08faa557dbeceeb57c' };

	  (function(d, t) {
	    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
	    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
	             '//cdn.viglink.com/api') + '/vglnk.js';
	    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
	  }(document, 'script'));
	</script>
	<!-- end Viglink -->	
	        
	</body>
</html>
