<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
    	<meta name="author" content="">
		<link href = "/stylesheets/bootstrap.css" rel="stylesheet">
		<link href = "/stylesheets/docs.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre' rel='stylesheet' type='text/css'>
		<link href = "/stylesheets/bootstrap-responsive.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/javascript/bootstrap.js"></script>
		<!-- Google Analytics Code -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36172033-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<!-- end Google Analytics -->
		<title>speculess</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/" >specu<span>less</span></a>
					<div class="btn-group pull-right" style="display:{{ localUser.displayUser}}">
						<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#" >
							<span style="display:{{ localUser.displayUser}}">{{localUser.nickname}}</span>
							<span class="caret"></span>
						</a>						
						<ul class="dropdown-menu">
							<li style="display:{{ localUser.displayUser}}">
								<a href="/profile"><i class="icon icon-user"></i> Profile</a>
							</li>
							<li class="divider" style="display:{{ localUser.displayUser }}"></li>
							<li style="display:{{ localUser.displayUser}}">
								<a href="{{localUser.logoutUrl |safe }}"><i class="icon icon-off"></i> Sign Out of Google</a>
							</li>
						</ul>
					</div>
					<a class="btn btn-success pull-right" href = "/authenticate" style="display:{{localUser.displayAlt}}">
						sign up - sign In
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="{{homeActive}}"><a href="/">Home</a></li>
							<li class="{{aboutActive}}"><a href="/about">About</a></li>
						</ul>						
					</div><!--/.nav-collapse -->
				</div>
			</div>
	    </div>

		<div class="container">	
			{% block body %}{% endblock %}	
		</div>

		<footer class="footer">
			<div class="container">
				<p class="muted">
					Experimental version of speculess, best on a <a href="http://www.whatbrowser.org" target="_blank">modern browser</a>
				</p>
				<!-- Button to trigger modal -->
				<a href="#myModal1" role="button" data-toggle="modal">Feedback</a>

				<!-- Modal -->
				<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel1">Feedback</h3>
					</div>
					<div class="modal-body">
						<p>Noticed something wrong with the site? Have suggestions for new features? Do you really like something about this site? Help us out with your feedback!</p>

						<code>this feature coming soon...</code>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			</div>
		</footer>

	<script type="text/javascript">
		$(document).ready(function () {
			$("[rel=tooltip]").tooltip();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("[rel=popover]").popover();
		});
	</script>	

	<!-- Viglink script -->
	<script type="text/javascript">
	  var vglnk = { api_url: '//api.viglink.com/api',
	                key: '890b79fb7dfb0a08faa557dbeceeb57c' };

	  (function(d, t) {
	    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
	    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
	             '//cdn.viglink.com/api') + '/vglnk.js';
	    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
	  }(document, 'script'));
	</script>
	<!-- end Viglink -->	
	        
	</body>
</html>
