{% extends "base.html" %}
{% block body %}
<div class="row-fluid">
	<div class="row-fluid">
		<ul class="nav nav-pills pull-right">
			<li class="{{activePill.rated}}">
				<a href="/">Most Popular</a>
			</li>
			<li class="{{activePill.age}}">
				<a href="/?sortMethod=age">Newest</a>
			</li>
		</ul>
	</div>
	<ul class="thumbnails">
		{% for lens in lenses %}
		<li class="frontNail span3">
			<a class="thumbnail" href="/lens/{{lens.id}}">				
			<div class="frontNailDiv">	
				<div style="height:120px; overflow:hidden; text-align:center">			
					<img src={{lens.img}} alt="">	
				</div>				
				<div class="frontNailCard">
					<div class="progress" style="height:7px; margin-top:-2px">
						<div class="bar bar-success" style="width: {{lens.stats.havePercent}}%;"></div>
						<div class="bar" style = "width:{{lens.stats.wantPercent}}%;"></div>
						<div class="bar bar-danger" style = "width:{{lens.stats.dontPercent}}%;"></div>			
					</div>
					<p class="frontNailCardHead">
						{{lens.man.upper()}}
					</p>
					<p class="frontNailCardInfo">
						{{lens.name}}
					</p>								
				</div>	
			</div>
			</a>				
		</li>
		{% endfor %}
	</ul>
</div>	

{% endblock %}
