{% extends "base.html" %}
{% block body %}
	<div class = "row-fluid">		
		<div class="span9">
			<h3>User Impressions<small> what the community thinks about this lens</small></h3>

			 
			<!-- Modal -->
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Your Impression</h3>
					<h3><small>{{lens.man }} | {{ lens.name }}</small></h3>
				</div>
				<form method = "post">
					<div class="modal-body">					
							<label><strong>In less than 200 characters,</strong> tell us what you think about this lens</label>
							
							<textarea rows="4" class="span12" name="newImpression" onblur="textCounter(this,this.form.counter,200);" onkeyup="textCounter(this,this.form.counter,200);">{{ userComment.comment }}</textarea>	
							<input class="btn btn-primary disabled" onblur="textCounter(this.form.recipients,this,200);" disabled  onfocus="this.blur();" value="200" name="counter" style="width:30px; padding:2px ">
							<span class="muted">characters remaining</span>
							<span class="text-error" style="display:{{ userComment.display }}"> leave blank to delete existing comment</span>
							<br><br> <hr>
							<label><strong>Link to your site</strong>, if you've written a detailed review on this lens, link to it here!</label>
							<input type="text" class="span12" name="reviewLink" placeholder="http://myreviewblog.example.com" value = "{{userComment.link}}">
							<label class="muted">Make sure you include "http://", "https://", etc. or your link will not work correctly</label>
					</div>
					<div class="modal-footer" style="margin-bottom:-20px">					
							<button class="btn" data-dismiss="modal" aria-hidden="true">Discard</button>
							<button class="btn btn-primary" name="userImpression" type="submit">Save Impression</button>					
					</div>
				</form>
			</div>

			<div class="row-fluid">
				<!-- Button to trigger modal -->
			<a href="#myModal" role="button" class="btn btn-primary pull-left" data-toggle="modal" style="display:{{ localUser.displayUser}}">
				<span style="display:{{userComment.displayAlt}}">Add your own impression</span>
				<span style="display:{{userComment.display}}">Change your existing impression</span>
			</a>
				<ul class="nav nav-pills pull-right">
					<li class="{{activePill.rated}}">
						<a href="/lens/{{lens.id}}">Top Rated</a>
					</li>
					<li class="{{activePill.random}}">
						<a href="/lens/{{lens.id}}?sortMethod=random">Random</a>
					</li>
					<li class="{{activePill.latest}}">
						<a href="/lens/{{lens.id}}?sortMethod=latest">Latest</a>
					</li>
				</ul>				
			</div>
			<div style="margin-top:20px">
				{% for column in comments.columns %}
				<div class="span4">
					<ul class="thumbnails">				
						{% for comment in column %}
						<li class = "thumbnail span12">
							<div>	
								<span class="muted" style="font-size:8pt">{{ comment.time}}</span>				
								<div class="commentCard">									
									{{ comment.comment }}					
								</div>
								<div style="margin:10px; text-align:right">
									<div class="btn-group" style="display:{{localUser.displayUser}}">
										<a class="btn btn-mini {{comment.buttonStyle}}" rel="tooltip" data-placement="bottom" 
										title="{{comment.buttonTooltip}}" href="/like/lens/{{lens.id}}/{{comment.userID}}">impressed</a>			
										<a class="btn btn-mini disabled">{{comment.count}}</a>
									</div>
									<div class="btn-group" style="display:{{localUser.displayAlt}}">
										<button class="btn btn-mini disabled" rel="tooltip" data-placement="bottom" title="Sign in or create account to recommend impressions">
											impressed
										</button>
										<button class="btn btn-mini disabled">{{comment.count}}</button>
									</div>
								</div>
							</div>
							<div style="margin:0px -5px -5px -5px; background:#111; padding:8px">							
								<p class="frontNailCardName">
									<a href="/profile/{{comment.userID}}?activeTab=impressions">{{comment.userNickname}} ({{ comment.userRating}})</a>
								</p>
								<p class="frontNailCardInfo" >
									<a class="btn btn-small btn-inverse" href="{{comment.reviewLink}}" style="display:{{comment.reviewDisplay}}" target="_blank">Read the full review</a>
								</p>								
							</div>
						</li>
						{% endfor %}				
					</ul>
				</div>	
				{% endfor %}			
			</div>	
		</div>
		<div class="span3">			
			<div>
				<ul class="thumbnails">
					<li class="frontNail thumbnail span12" style="margin-left: 0px">
						<div style = "text-align:center; display:{{localUser.displayUser}}">			
							<div style="display:{{ lensStatus.statusLinks }}">				
								<a href="/myBag?changeBag=haveIt|{{lens.id}}">
									<span class="btn btn-mini btn-success">have it</span></a>
								<a href="/myBag?changeBag=wantIt|{{lens.id}}">
									<span class="btn btn-mini btn-info">want it</span>
								</a>
								<a href="/myBag?changeBag=doNotWant|{{lens.id}}">
									<span class="btn btn-mini btn-danger">don't want</span>
								</a>
							</div>
							<div style="display:{{ lensStatus.changeStatusLink}}" >
								<a class="btn btn-mini btn-{{lensStatus.bootstrapColor}}" href="/myBag?changeBag=clearStatus|{{lens.id}}" rel="tooltip" title="has something changed? click here to change!" data-placement="bottom">
									<i class="icon icon-white icon-{{lensStatus.icon}}"></i> YOU {{ lensStatus.status }} THIS LENS
								</a>
							</div>									
						</div>				
						<div class="frontNailDiv">
							<div style="text-align:center">			
								<img src={{lens.img}} alt="">	
							</div>				
							<div class="lensPageCard">
								<div class="progress" style="margin-top:-2px">
									<div class="bar bar-success" style="width: {{lensStats.havePercent}}%;"></div>
									<div class="bar" style = "width:{{lensStats.wantPercent}}%;"></div>
									<div class="bar bar-danger" style = "width:{{lensStats.dontPercent}}%;"></div>			
								</div>
								<div style="margin-top:-20px; font-size:8pt;">				
									<span class="text-success">{{lensStats.havePercent}}% have it</span>
									<span class="text-info">{{lensStats.wantPercent}}% want it</span>
									<span class="text-error">{{lensStats.dontPercent}}% don't want it</span>		
								</div>
								<p class="frontNailCardHead">
									{{lens.man.upper()}}
								</p>
								<p class="frontNailCardInfo">
									{{lens.name}}
								</p>
								<div>
									<a class="btn btn-inverse shopping" href="{{lens.amazon}}" style="display:{{lens.amazonDisplay}}" target = '_blank'>
										<p class="muted buy-at">buy at</p>
										<div class="progress">
											<div class="bar" style="width: 100%; background:#E47911"></div>		
										</div>
										<p class="vendor-name">Amazon</p>
									</a>
									<a class="btn btn-inverse shopping" href="{{lens.bh}}" style="display:{{lens.bhDisplay}}" target = '_blank'>
										<p class="muted buy-at">buy at</p>
										<div class="progress">
											<div class="bar" style="width: 100%; background:#DF0101"></div>		
										</div>
										<p class="vendor-name">B&H Photo</p>
									</a>
								</div>		
							</div>							
						</div>										
					</li>					
				</ul>
			</div>					
		</div>		
	</div>

<script>
	function textCounter( field, countfield, maxlimit ) {
	if ( field.value.length > maxlimit ) {
	  field.value = field.value.substring( 0, maxlimit );
	  field.blur();
	  field.focus();
	  return false;
	 } else {
	  countfield.value = maxlimit - field.value.length;
	 }
	}
</script>
	

{% endblock %}
